[%
  ctx.page_title = l("Tattler"); 
  ctx.page_app = "TattlerUpdate";
%]
[% WRAPPER base.tt2 %]
<div style="color:black;">
    The following copies will be ignored the next time the tattle-tale report is executed:
    <ul>
        [% FOREACH c IN CGI.param('copyID[]') %]
        <li>[% c %]</li>
        [% END %]
    </ul>
</div>
[% END %]
