[% PROCESS carousels %]
<div id="homesearch_main_logo">
    <strong><center><img src="[% ctx.media_prefix %]/opac/images/[% ctx.branch_logo %]" /></center></strong>
</div>
<div style="width:100%;margin-top:25px;display: flex;">
<img id='search-submit-spinner' src='[% ctx.media_prefix %]/opac/images/progressbar_green.gif[% ctx.cache_key %]' style='height:48px;width:48px;margin:auto;' class='hidden' alt='[% l("Search In Progress") %]'/>
</div>